{% extends 'base.twig' %}

{% block title %}{{ programName }} {{ programYear }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/user.css">
{% endblock %}

{% block body %}
    <span id="token" class="hidden">{{ token }}</span>

    {% include('shared/navbar.twig') %}

    <div class="container">
        <div class="row" style="margin-bottom: 30px;">
            <div class="col-md-10 col-md-offset-1">
                <h3 style="margin-bottom: 15px;">Informação Empresa</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <form id="infoform" class="form-horizontal">
                    {# Name #}
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="name">Empresa</label>
                        <div class="col-md-6">
                            <input type="text" id="name" name="name" class="form-control" maxlength="65535"
                                   value="{{ name }}" required>
                        </div>
                    </div>
                    {# Representative #}
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="representative">Responsável</label>
                        <div class="col-md-6">
                            <input type="text" id="representative" name="representative" class="form-control"
                                   maxlength="255" value="{{ representative }}" required>
                        </div>
                    </div>
                    {# Email #}
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="email">Email</label>
                        <div class="col-md-6">
                            <input type="email" id="email" name="email" class="form-control" maxlength="255"
                                   value="{{ email }}" required>
                        </div>
                    </div>
                    {# Phone #}
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="phone">Telemóvel</label>
                        <div class="col-md-6">
                            <input type="text" id="phone" name="phone" class="form-control"
                                   value="{{ phone }}" required>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {# Submit Button #}
        <div class="row text-center" style="margin-bottom: 20px;">
            <div class="col-md-3 col-md-offset-4">
                <button type="submit" class="btn btn-primary btn-block" id="submit">Enviar</button>
            </div>
        </div>
    </div>

    {% include('shared/footer.twig') %}
{% endblock %}

{% block javascripts %}
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/jquery/jquery.validate.min.js"></script>
    <script src="/scripts/company/account.js"></script>
{% endblock %}
