{% extends 'base.twig' %}

{% block title %}{{ programName }} {{ programYear }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/common.css">
    <link rel="stylesheet" href="/styles/home.teaser.css">
{% endblock %}

{% block body %}
    <div class="wrap">
        <div class="cell">
            <div class="container">
                <div class="header row">
                    <h1 class="title">{{ programName }}</h1>
                    <div class="divider"></div>
                    <p class="subtitle">Se a última edição foi assim...</p>
                </div>
                <div class="main row">
                    <div class="col-xs-12">
                        <div class="col-xs-3 col-highlight">
                            <div class="highlight-value">96</div>
                            <div class="highlight-type">Empresas</div>
                        </div>
                        <div class="col-xs-3 col-highlight">
                            <div class="highlight-value">233</div>
                            <div class="highlight-type">Propostas</div>
                        </div>
                        <div class="col-xs-3 col-highlight">
                            <div class="highlight-value">326</div>
                            <div class="highlight-type">Vagas</div>
                        </div>
                        <div class="col-xs-3 col-highlight">
                            <div class="highlight-value">411</div>
                            <div class="highlight-type">Candidatos</div>
                        </div>
                    </div>
                </div>
                <div class="header row">
                    <p class="subtitle">Imagina a próxima!</p>
                </div>
                <div class="contacts">
                    <a href="https://www.facebook.com/{{ facebook }}" title="Facebook">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="mailto:{{ email }}" title="Email">
                        <i class="fa fa-envelope"></i>
                    </a>
                </div>
                <div class="organizers">
                    <p class="subtitle">Uma iniciativa dos Núcleos de Estudantes:</p>
                    {% for society in societies %}
                        <a href="https://www.facebook.com/{{ society.facebook }}" title="{{ society.name }}">
                            {{ society.name }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
